# archivo: .env.example
# Usa una contraseña SIN caracteres especiales (@ : / ? #), porque va dentro de una URL.
MONGO_USER=admin
MONGO_PASSWORD=cambiar_esta_clave

# Opción B (token nuevo KGAT_...):
KAGGLE_API_TOKEN=